/*Blue*/
.border-google-blue {
    border-color: #4285f4;
}
.border-top-google-blue {
    border-top-color: #4285f4;
}
.border-bottom-google-blue {
    border-bottom-color: #4285f4;
}
.border-left-google-blue {
    border-left-color: #4285f4;
}
.border-right-google-blue {
    border-right-color: #4285f4;
}
.text-google-blue,
.text-google-blue:hover,
.text-google-blue:focus {
    color: #4285f4 !important;
}
.bg-google-blue {
    background-color: #4285f4;
    border-color: #4285f4;
    color: #fff;
}

/*Red*/
.border-google-red {
    border-color: #ea4335;
}
.border-top-google-red {
    border-top-color: #ea4335;
}
.border-bottom-google-red {
    border-bottom-color: #ea4335;
}
.border-left-google-red {
    border-left-color: #ea4335;
}
.border-right-google-red {
    border-right-color: #ea4335;
}
.text-google-red,
.text-google-red:hover,
.text-google-red:focus {
    color: #ea4335 !important;
}
.bg-google-red {
    background-color: #ea4335;
    border-color: #ea4335;
    color: #fff;
}

/*Yellow*/

.border-google-yellow {
    border-color: #fbbc05;
}
.border-top-google-yellow {
    border-top-color: #fbbc05;
}
.border-bottom-google-yellow {
    border-bottom-color: #fbbc05;
}
.border-left-google-yellow {
    border-left-color: #fbbc05;
}
.border-right-google-yellow {
    border-right-color: #fbbc05;
}
.text-google-yellow,
.text-google-yellow:hover,
.text-google-yellow:focus {
    color: #fbbc05 !important;
}
.bg-google-yellow {
    background-color: #fbbc05;
    border-color: #fbbc05;
    color: #fff;
}

/*Green*/

.border-google-green {
    border-color: #34a853;
}
.border-top-google-green {
    border-top-color: #34a853;
}
.border-bottom-google-green {
    border-bottom-color: #34a853;
}
.border-left-google-green {
    border-left-color: #34a853;
}
.border-right-google-green {
    border-right-color: #34a853;
}
.text-google-green,
.text-google-green:hover,
.text-google-green:focus {
    color: #34a853 !important;
}
.bg-google-green {
    background-color: #34a853;
    border-color: #34a853;
    color: #fff;
}
