.btn-green {
    background-color: #1ab394 !important;
    color: #fff;
    border-radius: 3px;
}
.btn-green:focus,
.btn-green:hover {
    background-color: #18a689 !important;
    color: #fff !important;
}

.panel-footer {
    padding: 5px 5px;
    /*border: none;*/
    text-align: right;
    background-color: #fff;
}



.sv_qstn .sq-root {
    /*border: 1px solid gray;*/
    /*border-left: 4px solid #18a689;*/
    /*border-radius: 5px;*/
    /*padding: 20px;*/
    /*margin-bottom: 30px;*/
}
.sv_qcbc {
    width: 50%;
    margin-top: 14px !important;
}

.sv_qstn .sq-root-cb {
    /*border-left: 4px solid orange;*/
}

.sq-title {
    /*font-size: 20px;*/
    /*margin-left: 20px;*/
}

.sq-title-required {
    /*color: red;*/
}

.sq-label {
    margin-top: 10px;
    /*margin-left: 30px;*/
}
.sq-item{
    width: 50% !important;
}
.sq-item:nth-child(1) {
    left: 5px;
    margin-bottom: 5px;

}